body {
	overflow-x:hidden !important;
}
#login {
		margin-top: 5rem;
		overflow: hidden;
	}
#login .logo{
		position: absolute;
		top: 10%;
		left: 35%;
}

.logo-holder{
		position: relative;
		margin-bottom: 3rem;
}

.is-auth #head-navigation{
	margin-bottom: 2rem;
}
.is-auth #head-navigation a {
	color: #fff;
}
.is-auth.is-data-op .steps{
	width: 100%;
}

.is-auth.is-data-op .edit-panel a{
	padding: 0.4rem;
}

.user-addition input{
	width:100% !important;
}
.user-addition label{
	font-size: 1.1rem !important;
	padding-bottom: 0.4em;
}

.content-addition  .labeled.input,.content-addition  input{
	width: 100% !important;
}

.content-addition .ui.labeled{
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
}
.is-auth .ckedit{
	margin-bottom: 1rem;
	margin-top: 1rem;
}